services:
  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter
    network_mode: host
    pid: host
    restart: always
    command: ["--path.rootfs=/host"]
    volumes:
      - "/:/host:ro,rslave"

  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - /home/m1sk9/prometheus_data:/prometheus
    user: "1000:1000"
    depends_on:
      - node-exporter
