[defaults]
inventory = inventory/hosts.yml
vault_password_file = .vault_pass
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
nocows = True

[ssh_connection]
pipelining = True
