name: CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  pull-requests: write

defaults:
  run:
    working-directory: ./terraform

jobs:
  plan:
    runs-on: ubuntu-24.04
    env:
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Development Environment
        uses: jdx/mise-action@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -input=false -lock-timeout=10m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TF_VAR_cloudflare_api_token: ${{ secrets.TF_VAR_CLOUDFLARE_API_TOKEN }}

      - name: Terraform Apply
        run: terraform apply -input=false -no-color -auto-approve -lock-timeout=10m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TF_VAR_cloudflare_api_token: ${{ secrets.TF_VAR_CLOUDFLARE_API_TOKEN }}
