name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

defaults:
  run:
    working-directory: ./terraform

jobs:
  plan:
    runs-on: ubuntu-24.04
    env:
      TF_TOKEN_app_terraform_io: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Development Environment
        uses: jdx/mise-action@v3

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Lint
        run: tflint

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -lock-timeout=10m

